<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
  <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css" />
  <!-- <link rel="stylesheet" type="text/css" href="style.css" /> -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

  <title>Sio Chat</title>
</head>

<body>
  <h1 style="text-align: center">Streaming Angka berat</h1>
  <section style="text-align: center">
    <h1 id="display">0</h1> KG
  </section>
  <section>
    <h4 style="text-align: center">Kendaraan dengan berat masuk</h4>
    <button onclick="myFunction()" class="btn btn-danger btn-lg btn-block">Simpan</button>
    <br>
    <br>

    <ul class="list-group" id="myList">
      <li class="list-group-item active">Muatan Masuk dengan Berat</li>
    </ul>
    
  </section>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="tampil.js"></script>

</body>

</html>